<div class="row">
    <div class="col-sm-6 form-group">
        <input class="form-control" id="name" name="name" ng-model="$ctrl.name" placeholder="Name" type="text" required>
    </div>
    <div class="col-sm-6 form-group">
        <input class="form-control" id="e-mail" name="e-mail" ng-model="$ctrl.email" placeholder="Email" type="text" required>
    </div>
</div>
<textarea class="form-control" id="comments" name="comments" ng-model="$ctrl.comment" placeholder="Comment" rows="5"></textarea>
<br>
<button class="btn btn-default pull-right" ng-disabled="subscribeForm.$invalid"  type="submit" ng-click="$ctrl.submit()">Send</button>
